* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-teriary: #696969;
  --text-headline: #e1624f;

  /* Tipógrafia */
  --font-family: "Open Sans", serif;
  --h1: 36px bold;
  --h2: 32px bold;
  --h3: 28px bold;
  --font-size: 5px bold;
  --paragraph: 16px;
  --subtitle: 16px;

  /* font-color */
  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;
}


.accent-blue {
    color: var(--accent-blue);
}

.accent-orange {
    color: var(--accent-orange);
    
}

.accent-pink {
    color: var(--accent-pink);
}

.accent-purple {
    color: var(--accent-purple);
}

#container {
  width: 1000px;
  margin: 80px auto;
  border: 1px solid var(--border-primary);
  box-sizing: border-box;
}

.text-headline {
  color: var(--text-headline);
  text-transform: uppercase;
  font-size: var(--font-size);
}

.espace {
    margin-bottom: 30px;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

main {
  padding: 40px 0;
}

.center-paragraph {
  text-align: center;
  margin: 15px;
}

.divisor {
  width: 100;
  border-bottom: 1px solid var(--border-primary);
}

#Content-list {
  padding-top: 50px;
}

h2 {
  padding: 10px 0;
}

h3 {
  padding-bottom: 10px;
  margin: 10px;
}

h3 ~ p {
  padding-bottom: 30px;
}

.italic {
  font-family: "italic";
}

ul {
  margin: 20px;
}

footer {
  text-align: center;
}

footer img {
    vertical-align: text-top;
}


@media (max-width: 768px) {
  #container {
    width: calc(100% - 20px);
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px;
  }
}